.page-main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 281px;
}

.page-main__pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 360px;
}
