.page {
  height: 100%;
  font-family: "Barlow", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 1920px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
}
