.page {
  height: 100%;
  font-family: "Barlow", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
  background-color: $white;
}

.page__body {
  margin: 0 auto;
  position: relative;
}
