.services {
  position: relative;
}

.services__item {
  // position: absolute;
  display: none;

  &--current {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 133px;
  }
}

.services__picture-wrapper {
  position: relative;
  grid-row: span 2;
}

.services__image-title {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: $white;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 42px 109px;
}

.services__text-wrapper {
  position: relative;
  margin-top: 246px;
}

.services__title {
  max-width: 517px;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  margin-bottom: 40px;
}

.services__description {
  max-width: 650px;
  line-height: 32px;
  color: rgba(5, 2, 21, 0.75);
  margin-bottom: 40px;
}

.services__number {
  position: absolute;
  top: 676px;
  right: 0;
  font-size: 200px;
  line-height: 240px;
  color: $white;
  -webkit-text-stroke: 1px #b4977b;
}

.services__button {
  position: absolute;
  top: 576px;
  left: 643px;
  font-weight: 500;
  font-size: 18px;
  background: #b4977b;
  border-radius: 50px;
  color: $white;
  padding: 14px 32px;
}
