.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 386px;
  column-gap: 94px;
}

.social-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
