@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Barlowmedium.woff2") format("woff2"),
    url("../../fonts/Barlowregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Barlowmedium.woff2") format("woff2"),
    url("../../fonts/Barlowmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Barlowsemibold.woff2") format("woff2"),
    url("../../fonts/Barlowsemibold.woff") format("woff");
  font-display: swap;
}
